# API Configuration
REACT_APP_API_URL=http://localhost:3001

# Baby Details
REACT_APP_DUE_DATE=2025-12-31

# Time Configuration
REACT_APP_TIME_BLOCK_MINUTES=30
REACT_APP_MAX_BLOCK_SELECTION_MINUTES=60

# Feature Toggles
REACT_APP_INCLUDE_SURPRISE_GENDER=true

# Theming
REACT_APP_PRIMARY_COLOR=#4A90E2
